.App {
  font-family: sans-serif;
  text-align: center;
}
#modal-root {
  position: relative;
  z-index: 999;
}
.app {

  background: lightblue;
  overflow: hidden;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-content{
    width:30rem;
}

.fade-enter {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.fade-exit {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1.5s ease;
}
.scale-enter {
  transform: scale(0);
  transition: transform 1.5s ease;
}

.scale-enter-active {
  transform: scale(1);
  transition: transform 1.5s ease;
}

.scale-exit {
  transform: scale(1);
  transition: transform 1.5s ease;
}

.scale-exit-active {
  transform: scale(0);
  transition: transform 1.5s ease;
}
.cont {
  width: 200px;
  height: 200px;
  background: green;
}
